html {
  font-size: 62.5%;
}
html, body, .app {
  height: 100%;
}

.app {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
.title {
  font-size: 3.0rem;
}
.body {
  height: 70%;
  margin-top: 10px;
}
.source, .destination {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
}
.source {
  float: left;
}
.destination {
  float: right;
}
.caption {
  font-size: 2.0rem;
  line-height: 3.0rem;
}
.action {
  vertical-align: middle;
}
.text {
  width: 90%;
  height: 100%;
  resize: none;
}

@media screen and (min-device-width: 0) and (max-device-width: 1023px) {
  .title {
    font-size: 2.0rem;
  }
  .caption {
    font-size: 1.4rem;
  }
  .action {
    font-size: 1.0rem;
  }
}
