html {
  font-size: 62.5%;
}
html, body, .app {
  height: 100%;
}

.app {
  box-sizing: border-box;
  width: 100%;
  padding: 8px;
}
.title {
  color: #5279e7;
  font-size: 3.0rem;
}
.body {
  height: 70%;
  margin-top: 10px;
}
.source, .destination {
  display: inline-block;
  box-sizing: border-box;
  width: 48%;
  height: 100%;
  float: left;
  border: 1px solid #5279e7;
}
.source {
  margin-right: 8px;
}
.destination {
  margin-left: 8px;
}
.caption {
  color: #ffffff;
  background: #5279e7;
  font-size: 2.0rem;
  line-height: 3.0rem;
}
.action {
  border: 0;
  color: #ffffff;
  background: #5279e7;
  font-size: 2.0rem;
  text-decoration: underline;
}
.text {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (min-device-width: 0) and (max-device-width: 1023px) {
  .title {
    font-size: 2.0rem;
  }
  .caption {
    font-size: 1.4rem;
  }
  .action {
    font-size: 1.0rem;
  }
}
