<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Escape &#x3c;, &#x3e;, and &#x26; to display them on Hatelabo::AnonymousDiary">
  <meta name="keywords" content="はてな匿名ダイアリー,エスケープ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anond::Escape</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
</head>
<body>
  <div class="ui container" id="app">
    <h1>Anond::Escape</h1>
    <p>
      増田で&#x3c;、&#x3e;、&#x26;を使うと&#x26;#x3e;、&#x26;#x3e;、&#x26;#x26;と表示されてしまうのを防ぐツールです。<br>
      srcにエスケープしたいテキストを入力すると、dstにエスケープしたテキストが表示されます。<br>
      スーパーpre記法の中だけはこのツールを使っても防げないので注意。<br>
    </p>
    <div class="ui two column stackable grid" v-cloak>
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>src</label>
            <textarea v-model="text"></textarea>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>dst</label>
            <textarea v-model="escaped_text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/anond-escape.js"></script>
</body>
</html>
